# Ports Docker
VITRINE_PORT=8085
VITRINE_DEV_PORT=5174

# URLs & Contact
VITE_ALIBORA_URL=https://alibora.com/
VITE_KORVA_SOLUTION_URL=https://alibora.com/solutions/korva-accounting-software
VITE_SUPPORT_EMAIL=support@alibora.com
VITE_REGISTRATION_EMAIL=support@alibora.com

# API Backend
# En local : http://localhost:8000
# En production : https://api.votre-domaine.com
VITE_API_URL=https://api.votre-domaine.com
VITE_VITRINE_API_TOKEN=your_vitrine_api_token_here
